<p class="header">
  Галерея
</p>

<div class="popular-products">
  <div class='flex-container'>
    <div class='card-popular'>
      <img src="assets/images/popular1.jpg" />
    </div>
    <div class='card-popular'>
      <img src="assets/images/popular2.jpg" />
    </div>
    <div class='card-popular'>
      <img src="assets/images/popular3.jpg" />
    </div>
    <div class='card-popular'>
      <img src="assets/images/popular4.jpg" />
    </div>
    <div class='card-popular'>
      <img src="assets/images/popular5.jpg" />
    </div>
    <div class='card-popular'>
      <img src="assets/images/popular6.jpg" />
    </div>
  </div>
</div>
