<p class="header">
  Добавить товар
</p>

<div id='content'>
  <form [formGroup]='addProductForm' (ngSubmit)="onSubmit()">
    <div class='form-container'>
      <label for='name' class='label-full'><p class='label-name'>Название товара</p></label>
      <input id='name' class='input-full' type='text' formControlName="name" />

      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

        <div *ngIf="name.errors.required">
          Название товара не заполнено
        </div>
        <div *ngIf="name.errors.minlength">
          Название товара должно быть не менее 4 букв
        </div>

      </div>
    </div>

    <div class='form-container'>
      <label for='id-product' class='label-small'><p class='label-name'>Id</p></label>
      <input id='id-product' class='input-small' type='text' formControlName='id' />
    </div>

    <div class='form-container'>
      <label for='type-product' class='label-small'><p class='label-name'>Категория</p></label>
      <select id='type-product' class='input-small' type='text' name='typeProduct' formControlName='type'>
        <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert alert-danger">
          <div *ngIf="src.errors.required">
             Тип не выбран
          </div>
        </div>

        <option *ngFor='let type of typeProduct' [value]='type'> {{type}}</option>
      </select>
    </div>

    <div class='form-container'>
      <label for='src-product' class='label-full'><p class='label-name'>Изображение</p></label>
      <input id='src-product' class='input-full' type='text' formControlName='src' />
      <div *ngIf="src.invalid && (src.dirty || src.touched)" class="alert alert-danger">
        <div *ngIf="src.errors.required">
           Добавьте изображение
        </div>
      </div>
    </div>

    <div class='form-container'>
      <label for='price-product' class='label-full'><p class='label-name'>Цена</p></label>
      <input id='price-product' class='input-full' type='text' formControlName='price' />
      <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
        <div *ngIf="price.errors.required">
           Добавьте стоимость товара
        </div>
      </div>
    </div>

    <label for='add-product-button'>
      <input id='add-product-button' type='submit' class='popular-buy' [disabled]="!addProductForm.valid" value='Добавить товар' />
    </label>
  </form>
</div>
