<p class="header">
  Магазин
</p>

<div id='content'>
  <div class='filter'>
    <p class='heading'>
      Фильтр
    </p>
    <form [formGroup]='typesForm'>
      <input type="checkbox" #bouquet value="bouquet" formControlName='bouquet' (change)='addType($event, bouquet)'/>
      <label for='bouquet' ><span>букеты</span></label><br />

      <input type="checkbox" #wedding value="wedding" formControlName='wedding'(change)='addType($event, wedding)'/>
      <label for='wedding' ><span>букеты для невест</span></label><br />

      <input type="checkbox" #box value="box"  formControlName='box' (change)='addType($event, box)'/>
      <label for='box'><span>букеты в коробке</span></label><br />

      <input type="checkbox" #decor value="decor" formControlName='decor'(change)='addType($event, decor)'/>
      <label for='decor'><span>цветочный декор</span></label>
    </form>
  </div>

  <div class='flex-container' id='flex-container'>
    <div *ngFor='let product of products | filter: _type' class='card-popular'>
      <a routerLink="/detail/{{product.id}}">
      <img src='assets/images/{{product.src}}' />
      </a>
      <p class='product-name'>
        {{product.name}}
      </p>
      <p class='price-popular'>
        {{product.price}} руб.
      </p>
      <button class='popular-buy' (click) = 'addProductToCart(product)'>Купить</button>
  </div>
  </div>
</div>
